<%- include("header") -%>

<h1>Hi There 👋</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fuga ratione doloribus eligendi harum quisquam eaque! Sint sequi tempore incidunt quidem excepturi sunt. Provident consequuntur omnis, inventore quos explicabo, hic natus enim possimus molestiae cupiditate odit laborum facilis commodi quasi sequi rerum itaque maxime sed sit maiores ratione fuga quod.</p>

<%- include("footer") -%>